*

{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
body

{
    color: #ededed;

    
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo
{
    position: relative;
    font-size: 25px;
    color:#fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a {
    display:inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.navbar a:hover{
    color:#0ef;

}
.home
{
    position:relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(IMG_20250107_193717.jpg) no-repeat;

    background-size: 40%;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 80px 5% 0;
}
.home-content{
    max-width: 600px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3{
    font-size: 32px;
    font-weight:700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 32px;

}
.home-content h3 span{
    color: #0ef;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;

}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var(--i) );
    margin: 30px 15px 30px 0;
}
.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef
    
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 5px cyan,
    0 0 100px cyan, 0 0 200px cyan

}
.about{
    display: flex;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.about-img img{
    padding-bottom: 20%;
    padding-left: 0%;
    padding-right: 10%;
    max-width: 200px;
    height: auto;
    width: 100%;
    border-radius: 50%;
}
.about-text h2{
    font-size: 60px;

}
.about-text h2 span{
    color: #0ef;
}
.about-text p{
    font-size: 20px;
    color: aliceblue;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.more{
    display: flex;
    grid-template-columns: repeat(1,1fr);
    
    gap: 1.5rem;
}
.more-about h3{
    color: #0ef;
    padding-top: 0.5%;
}
.more-about p{
    font-size: 16px;
    color: aliceblue;
    line-height: 1.4;
    margin-bottom: 2rem;
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.row .col{
    flex-basis: 46%;
}
.row .sub-title h2{
    position: relative;
    color: #fff;
    font-size: 22px;
    font-family: Helvetica;
    display: inline-block;
    margin-bottom: 30px;
}
.row .sub-title h2::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    top: 125%;
    left: 0;
    background-color: #808080;
}
.row .sub-title h2::after{
    content:'';
    position: absolute;
    width: 25%;
    height: 3px;
    top: calc(125% - 1px);
    left: 0;
    background-color: #0ef;
}
.subject{
    font-size: 18px;
    font-weight: thin;
    color: #808080;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.progress-bar{
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #808080;
    border-radius: 15px;
    margin-bottom: 20px;
}
.progress-bar::after{
    position: absolute;
    content:attr(value);
    top: -35px;
    right: 0;
    color: #808080;
    font-size: 18px;
}
.progress-line{
    position: absolute;
    width: 0%;
    height: 7px;
    background-color: #0ef;
    border-radius: 15px;
    top: -1px;
    animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;

}
.progress-line::after{
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color:#0ef;
}

/*.hea
ding2{
   
    text-align: right;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-top: 50px;
    
}

.container1 .circle{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
   

}
.container1 .circle::before{
    content: '';
    position:absolute;
    inset: 5px;
    border-radius: 50%;
    background: #9b1414;
    opacity: 0.8;
}*/
/*certifications...............*/
.certifications-container{
    display: flex;
    width:100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    

}
.certifications-box{
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:30%;
    height: 250px;
    background: transparent;
    background-color: #fff;
    border: 2px solid #fff;
    animation: border;
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px var(--first shadow);
    overflow:hidden;
    cursor: pointer;

}



.certifications-box::before{
    position: relative;
    width: 100px;
    height: 250px;
    background:conic-gradient(from 90deg, rgb(0 0 0/0%)70%,rgb(11 78 230 /9%)80%, rgb(0 220 255)100%);
    content: '';
    left: -25%;
    top: -25%;
}
.certifications-box::after{
    position: relative;
    width: 90%;
    height: 250px;
    background-color: #fff;
    content: '';
    top: 3%;
    left: 3%;
    animation: rotate 30s infinite linear;

}



.certifications-box label{
    margin-top: 20px;

}
.certifications-box h3{
    font-size: 10px;
    margin-top: 25px;
    color: rgb(8, 8, 8);
}
/*contact---------------*/
.contact{
    position: relative;
    min-height: 100vh;
     align-items: center;
     padding: 50px 100px;  
     display: flex;
     justify-content: center; 
     flex-direction: column;
}
.contact.content{
    max-width: 800px;
    text-align: center;
}
.contact .content  h2{
    font-size: 50px;
    line-height: 1;
    text-align: center;
}
.contact .content h2 span{
    color: #0ef;
}
.contact .content p{
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}
.contaioneer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.contaioneer .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contaioneer .contact .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contaioneer .contact .box  .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contaioneer .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contaioneer .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fffdfd;
    
}
.contaioneer .icon{
    font-size: 25px;
    color: #0ef;
    
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputbox input
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: no;
    resize: none;
}
.contactForm .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputbox input:focus ~ span,
.contactForm .inputbox input:valid ~ span
{
    
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputbox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width:991px){
    .contact{
        padding: 50px;
    }
    .contaioneer{
        flex-direction: column;
    }
    .contaioneer .contactInfo{
        margin-bottom: 40px;
    }
    .contaioneer .contactInfo{
        width: 100%;
    }
}



@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

/*skills*/
@keyframes animate{
    100%{
        width: 100%;
    }
}


@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
.square, .square:before, .square:after{
    border-radius: 20px 0px;
}
